{% extends "base.html.twig" %}


{% block body %}
    <div class="container">
        <div class="row">
            <ul class="nav nav-tabs">
                <li class="active"><a href="{{ path('app_basic_index') }}">Главная страница</a></li>
                <li><a href="{{ path('fos_user_registration_register') }}">Регистрация</a></li>
                <li><a href="{{ path('fos_user_security_login') }}">Авторизация</a></li>
            </ul>
        </div>
    </div>

<div class="container-fluid">
    <div class="row">

        <h1>{{ institution_name }}</h1>
        <h3>{{ description }}</h3>

        <div class="col-md-4">
            <div id="bucket" class="col-xs-12">
                <ul class="list-group-item">
                   {% if  lists is defined  %}
                    {% for list in lists %}
                            {% for item in list %}
                            <li>Название : {{ item.dish }}</li>
                            <li>Цена :{{ item.price }}</li>
                            <li>Количество :{{ item.count }}</li>
                            <li>Сумма :{{ item.sum_price }}</li>
                            {% endfor %}
                        {% endfor %}
                       <h4> Общая Сумма : {{ total_price }}</h4>
                   {%endif  %}
                </ul>
            </div>
        </div>
        <div class="col-md-offset-4">
            {% for dish in dishes %}
                <div class="dish">

                    <h3 class="text-center">{{ dish.name }}</h3>

                    {% set dish_form = form_bucket.createView %}
                    {{ form_start(dish_form, {'action' : path('app_basic_addbucket', {'dish_id' : dish.id})}) }}
                    {{ form_widget (dish_form)}}
                    {{ form_end(dish_form) }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}