{% extends "base.html.twig" %}


{% block body %}
    <div class="container">
        <div class="row">
            <ul class="nav nav-tabs">
                <li class="active"><a href="{{ path('app_basic_index') }}">Главная страница</a></li>
                <li><a href="{{ path('fos_user_registration_register') }}">Регистрация</a></li>
                <li><a href="{{ path('fos_user_security_login') }}">Авторизация</a></li>
            </ul>
        </div>
    </div>
    <div class="jumbotron">
        <p>
            <a class="btn btn-primary btn-lg" role="button"
               href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a><br>
        </p>
        <p>
            <a class="btn btn-primary btn-lg" role="button"
               href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        </p>
        <h1>Hello Anonymous</h1>

    </div>

<div class="container-fluid">
    <div class="row">
        {% for institution in institutions %}
            <ul class="list-group">
                <li>
                   <h1><a href="{{ path('app_basic_details', {'institution_id' : institution.id}) }}">{{ institution.name }}</a></h1>
                </li>
                <li>
                   <h2> {{ institution.description }}</h2>
                </li>
                <li>
                    <img width="100" height="100" src="{{ vich_uploader_asset(institution, 'imageFile') }}" class="img-thumbnail" >
                </li>
            </ul>

        {% endfor %}
    </div>
</div>
{% endblock %}